@model IEnumerable<Commonlayer.Views.ProductView>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Traders Market</h1>
</div>
<br/><br/>
<div >
    <div style='float:right;width:79%'>
        @foreach (var item in Model)
        {
            <div id="item" class="itemStyleProd">
                <br />
                <img src="@Html.DisplayFor(modelItem => item.ImageLink)" width="100" height="100" alt="image" style="border:3px" />
                <br />
                @item.Name    <br />
                Retail Price: @item.Price<br />
                Seller: @item.Username <br />
                @Html.ActionLink("Details", "Details", new { id = item.ProductID })





            </div>

        }
    </div>

    
</div>

