@model TraderMarket.Models.CheckOutModel

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckOut</h2>
<script src="~/Scripts/dg.js"></script>
<script type="text/javascript">

</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Pay with Paypal</legend>
        @*<div class="editor-label">
            @Html.LabelFor(moldel => Model.Card)
        </div>
        <div class="editor-field">
            <select name="Card">
                @foreach (var item in ViewBag.Cards)
                {
                     <option>@item.Number @item.CardT</option>

                }               

            </select>
            @Html.ValidationMessageFor(model => model.Card)
        </div>*@
        Total Price: €@ViewBag.Price
        @*<a onclick="submitPayment(ViewBag.Price)" >Proceed to Paypal</a>*@
        @*@Html.ActionLink("Proceed to Paypal", "Fund", "Cart")*@

        <p>
            <input type="submit" value="Purchase" />
        </p>


        <h6>@ViewBag.LoginError</h6>
    </fieldset>
}

