@model Commonlayer.CreditCard

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <b> @Html.DisplayNameFor(model => model.CardType)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.CardOwner)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardOwner)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.CVV)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVV)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.CardNumber)</b> 
        </dt>

        <dd>
            @Model.CardNumber
        </dd>
        <br/>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
