@model Commonlayer.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Name)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <b> @Html.DisplayNameFor(model => model.Description)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.ImageLink)</b> 
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageLink)" width="100" height="100" alt="image" style="border:3px" />
        </dd>

        <dt>
            <b> @Html.DisplayNameFor(model => model.Price)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        @*<dt>
            <b> @Html.DisplayNameFor(model => model.Stock)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>*@

        <dt>
            <b>@Html.DisplayNameFor(model => model.isActive)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            <b>@Html.DisplayNameFor(model => model.Category.Name)</b> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
