@model TraderMarket.Models.ProductsModel

@{
    ViewBag.Title = "Modify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Modify</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.price)
            @Html.ValidationMessageFor(model => model.price)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.stock)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.stock)
            @Html.ValidationMessageFor(model => model.stock)
        </div>
        Current Image:<br />
        <img src="@Model.ImageLink" width="100" height="100" alt="image" style="border:3px" /><br/>
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" /> 

        <div class="editor-label">
            @Html.LabelFor(model => model.SubCategory)
        </div>
        <div class="editor-field">
            <select name="SubCategory">
                @foreach (var item in ViewBag.SubC)
                {
                    <option>@item.Name</option>

                }        

            </select>
            @Html.ValidationMessageFor(model => model.SubCategory)
        </div> Current SubCategory: @ViewBag.SubCString

       

        <p>
            <input type="submit" value="Modify Product" />

        </p>
    </fieldset>
}


