@model Commonlayer.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Username)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <br/>
        <dt>
            <b>@Html.DisplayNameFor(model => model.Name)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.Surname)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.ContactNo)</b>
        </dt>

        <dd>
            @Model.ContactNo
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.Email)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.Residence)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residence)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.Street)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.Town)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.PostCode)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <br />
        <dt>
            <b> @Html.DisplayNameFor(model => model.Country)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <br />
        <dt>
            <b>  @Html.DisplayNameFor(model => model.HandlesDeliveres)</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HandlesDeliveres)
        </dd>
        <br />
        <dt>
            <b> User Type </b>
        </dt>

        <dd>
            @if (Model.AccountNumber == 0)
            {
                <text>Buyer</text>
            }
            else
            {
                <text>Seller</text><br/><br/>
                <b>  @Html.DisplayNameFor(model => model.AccountNumber)</b><br/>
                 @Model.AccountNumber
            }
        </dd><br />

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Username }) |
    @Html.ActionLink("Back to List", "Index")
</p>
